<div class="wrapper" ux-lamp>
	<nav class="navbar navbar-default navbar-static-top" role="navigation" id="heading">
		<div class="navbar-header pull-left">
			<button ng-click="toggle()" type="button" class="navbar-toggle" side-menu>
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="navbar-right padding-right-null">
			<ul class="nav navbar-nav">
				<li class="navbar-link-default">
					<img menu-toggle ng-src="{{user.avatar}}" alt="" width="50" height="50" class="dropdown-toggle" data-toggle="dropdown">
					<ul class="dropdown-menu" role="menu">
					    <li class="heading text-center">{{user.name}}</li>
					    <li><a href ui-sref=".addaccount"><span class="drop-list fa fa-road"></span>Add Account</a></li>
					    <li><a href ui-sref=".settings"><span class="drop-list fa fa-rocket"></span>Settings</a></li>
						<li><a href><span class="drop-list fa fa-chain"></span>Switch Account</a></li>
					    <!-- <li><a href="#"><span class="icon-cart2 icon-fw"></span>Logout</a></li> -->
					    <li class="more">
					        <a href ui-sref="login">Log out</a>
					    </li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<main role="main" ui-view="content"></main>
</div>
