//Code right here, y'all
@import 'debut';
//Importing all styles from the theme

//SCSS specific media queries

$desktop-width: 768px;
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.home-rpLogo {
    width: 10em;
    margin-left: -.2em;
}

.rp-dash-logo {
    width: 10em;
}

nav.side-bar ul.nav-menu>li>a>i {
     color: #6c669a ;
     margin: 0;
     width: 48px;
     font-size: 20px;
     text-align: center;
 }

.chat-owner {
    color: white;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
    }
}


.nested-home-views {
    margin-top: 4.5em;
    @include desktop {
        margin-left: 18em;
        margin-top: 0;
    }
}


.drop-list {
    padding-left: .7em;
    padding-right: 1.3em;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
