<div id="page-heading">
    <h3 class="page-title">Profile</h3>
</div>
<form>
<div class="publisher widget widget-lg">

    <div class="widget-heading" style="background-image:url('../../assets/images/avatar200.png')"></div>
    <div banner-upload class="banner-img-edit">
        <div class="edit-banner-wrap">
            <i class="edit-banner-photo fa fa-camera"></i>
            <p>Edit Image</p>
        </div>
    </div>
    <input id="banner-upload" type="file">

    <div class="widget-body">
        <div class="row">
            <div class="col-md-3 col-xs-12 text-center title">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="230px" viewBox="0 0 230 230">
                    <defs>
                        <mask id="mask1" x="0" y="0" width="200" height="200">
                            <path fill="#fff" d="M218.5,112.667C218.5,123.333,126.666,215,116.166,215S13.832,126,13.832,112.667 s87.5-102.333,102.333-102.333S218.5,102,218.5,112.667z"/>
                        </mask>
                    </defs>
                    <g>
                        <image x="0" y="10" width="230" height="230" xlink:href="../../assets/images/avatar200.png" style="mask:url(#mask1);" />
                        <path fill="#fff" d="M116.128,19.572c5.27,2.409,22.242,15.56,49.901,43.779c23.378,23.852,38.753,42.554,42.787,49.235
                            c-3.956,6.25-18.6,23.593-43.896,48.868c-25.187,25.167-42.496,39.793-48.803,43.823c-6.436-3.999-24.206-18.657-49.001-43.113
                            c-27.674-27.295-41.03-44.065-43.919-49.563c2.983-5.978,17.438-24.394,42.817-49.953C92.23,36.246,110.426,22.07,116.128,19.572
                             M116.166,10.333c-14.834,0-102.333,89-102.333,102.333C13.833,126,105.667,215,116.167,215S218.5,123.333,218.5,112.666
                            C218.5,102,131,10.333,116.166,10.333L116.166,10.333z" stroke-width="2" stroke="#fff" />
                            <div class="profile-pic-edit"></div>
                    </g>
                </svg>
                <input ng-model="user.name" id="username" type="text" value="John Smith">
                <input ng-model="user.location" id="userlocation" type="text" value="Orlando, Fl">
            </div>
            <div class="col-md-9 col-xs-8 content">
                <div class="col-xs-12 text-right edit-profile"><span ui-sref="home.profile" class="cancel-edit btn btn-blocked">Cancel</span><span ng-click="updateUser()" class="btn btn-primary">Save Changes</span></div>
                <textarea ng-model="user.bio" id="user.bio" class="form-control" rows="2" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde sapiente ..."></textarea>
            </div>
        </div>
    </div>
    <!-- End widget body -->
</div>

<div class="social-count col-xs-12 col-md-3">

    <div class="indicator widget bg-info">
        <span class="fa fa-facebook fa-4x"></span>
        <p class="title">4,234</p>
        <span class="subtitle">Followers</span>
        <span class="log-out fa fa-times"></span>
    </div>

    <div class="indicator widget bg-blocked">
        <span class="fa fa-google-plus fa-4x"></span>
        <p class="title">128</p>
        <span class="subtitle">New topics published</span>
        <span class="log-out fa fa-times"></span>
    </div>

    <div class="indicator widget bg-primary">
        <span class="fa fa-twitter fa-4x"></span>
        <p class="title">2,343</p>
        <span class="subtitle">Tweets</span>
        <span class="log-out fa fa-times"></span>
    </div>

    <div class="indicator widget bg-success">
        <span class="fa fa-linkedin fa-4x"></span>
        <p class="title">28</p>
        <span class="subtitle">Things</span>
        <span class="log-out fa fa-times"></span>
    </div>

    <div class="indicator widget bg-danger">
        <span class="fa fa-pinterest-p fa-4x"></span>
        <p class="title">1,935</p>
        <span class="subtitle">Followers</span>
        <span class="log-out fa fa-times"></span>
    </div>
</div> <!-- Social media reports -->

<div class="demographics-wrap col-xs-12 col-md-9">
<div class="interests">
    <div class="panel panel-default">
        <div class="panel-heading">Interests</div>
        <div class="panel-body">

            <!-- <pre>{{interests|json}}</pre> -->
            <div class="row">
                <div ng-repeat="interest in interests" class="col-md-4 form-checks">
                    <label class="checkbox-inline"><input ng-model="interest.selected" type="checkbox" value="">{{interest.name}}</label>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="interests">
    <div class="panel panel-default">
        <div class="panel-heading interests-heading">Demographics</div>
        <div class="panel-body">


            <div class="row">
                <div class="demographics-headers col-xs-12">Life Stage</div>

                <div ng-repeat="stage in lifeStage" class="col-md-4 form-checks">
                    <label class="checkbox-inline"><input ng-model="stage.selected" type="checkbox">{{stage.name}}</label>
                </div>
            </div>

            <!-- <pre>{{income | json}}</pre> -->
            <div class="row">
                <div class="demographics-headers col-xs-12">Annual Income</div>

                <div ng-repeat="income in info.income" class="col-md-4 form-checks">
                    <label class="radio-inline"><input ng-model="user.demographics.income" type="radio" name="income" ng-value="income">{{income}}</label>
                </div>
            </div>

            <div class="row">
                <div class="demographics-headers col-xs-12">Education</div>

                <div ng-repeat="education in info.education" class="col-md-3 form-checks">
                    <label class="radio-inline"><input ng-model="user.demographics.education" type="radio" name="education" ng-value="education">{{education}}</label>
                </div>
            </div>

            <div class="row">
                <div class="demographics-headers col-xs-12">Ethnicity</div>

                <div ng-repeat="ethnic in ethnicity" class="col-md-4 form-checks">
                    <label class="checkbox-inline"><input ng-model="ethnic.selected" type="checkbox">{{ethnic.name}}</label>
                </div>
            </div>

            <div class="row">
                <div class="demographics-headers col-xs-12">Language</div>

                <div ng-repeat="language in languages" class="col-md-3 form-checks">
                    <label class="checkbox-inline"><input ng-model="language.selected" type="checkbox">{{language.name}}</label>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</form>
