<!-- PAGE HEADER -->
<div id="page-heading">
    <h3 class="page-title" ng-if="user.type=='influencer'">Edit My Influencer Profile</h3>
        <h3 class="page-title" ng-if="user.type=='brand'">Edit My Brand Profile</h3>
</div>

<form>

    <!-- PROFILE HEADER -->
    <div class="col-xs-12">
        <div class="publisher widget widget-lg">

            <!-- USER HEADER IMAGE -->
            <!-- TODO: Move header image logic into controller -->
            <!-- if no temp header img && no saved header image show color only-->
            <div ng-if="!header.image && !user.header_image" class="widget-heading" style="background-color:#00acee;"></div>
            <!-- if temp header image show temp header image-->
            <div ng-if="header.image"  class="widget-heading" ng-style="{'background-image': 'url(' + header.image + ')'}"></div>
            <!-- if saved header image & no temp header image show saved header image-->
            <div ng-if="user.header_image && !header.image"  class="widget-heading" ng-style="{'background-image': 'url(' + user.header_image + ')'}"></div>

            <div banner-upload class="banner-img-edit">
                <div class="edit-banner-wrap">
                    <i class="edit-banner-photo fa fa-camera"></i>
                    <p>Edit Image</p>
                </div>
            </div>
            <!-- HIDDEN UPLOAD INPUT -->
            <input id="banner-upload" type="file" onchange="angular.element(this).scope().fileNameChanged(this)">

            <div class="widget-body">
                <div class="row">
                    <div class="col-md-3 col-xs-12 text-center title">

                        <!-- USER AVATAR -->
                        <!-- TODO: Move avatar image logic into controller -->
                        <!-- if no temp avatar img && no saved avatar image show color only-->
                        <img ng-if="!avatar.image && !user.avatar" src="../../assets/images/default-avatar-green.png" class="profile-avatar">
                        <!-- if temp avatar image show temp avatar image-->
                        <img ng-if="avatar.image" ng-src="{{avatar.image}}" class="profile-avatar">
                        <!-- if saved header image & no temp header image show saved header image-->
                        <img ng-if="user.avatar && !avatar.image" ng-src="{{user.avatar}}" class="profile-avatar">
                        <div avatar-upload class="profile-avatar-overlay">
                            <i class="edit-profile-avatar fa fa-camera fa-2x"></i>
                            <p>Edit Image</p>
                        </div>

                        <!-- HIDDEN UPLOAD INPUT -->
                        <input id="avatar-upload" type="file" onchange="angular.element(this).scope().fileNameChanged2(this)">

                        <!-- USER NAME & LOCATION -->
                        <div class="form-group">
                            <!-- Influencer Name -->
                            <input class="form-control" ng-model="user.name" id="username" type="text" value="" placeholder="Full name" ng-if="user.type == 'influencer'">
                            <!-- Brand Name -->
                            <input class="form-control" ng-model="user.name" id="username" type="text" value="" placeholder="Brand name" ng-if="user.type == 'brand'">
                            <!-- Location -->
                            <input class="form-control userlocation" ng-model="user.location" type="text" value='' placeholder="Location">
                        </div>
                    </div>

                    <div class="col-md-9 col-xs-8 content">

                        <!-- EDIT PROFILE BTN -->
                        <div class="col-xs-12 text-right edit-profile"><span ui-sref="home.profile" class="cancel-edit btn btn-blocked">Cancel</span><span ng-click="updateUser()" class="btn btn-primary">Save Changes</span></div>

                        <!-- USER BIO -->
                        <textarea ng-model="user.bio" id="user.bio" class="form-control" rows="2" placeholder="This is your biography, tell the world about yourself!"></textarea>
                    </div>
                </div>
            </div>
            <!-- End widget body -->
        </div>
    </div>

    <!-- USER SOCIAL NETWORKS -->
    <div class="social-count col-xs-12 col-md-3">
        
        <!-- if network saved, display it  if not, display connect button-->
        <!-- TODO: repeat saved networks from user object -->
        <!-- TODO: add username & avatar for each network -->
        
        <!-- FACEBOOK -->
        <div ng-if="!user.social_networks.facebook" class="indicator widget" style="color:#999;" >
            <div class="color-facebook">
                <i class="fa fa-facebook fa-4x" style="padding:10px;"></i>
            </div>
            <button class="btn btn-default" ng-click="user.social_networks.facebook = true">Connect Facebook</button>
        </div>
        <div ng-if="user.social_networks.facebook" class="indicator widget bg-facebook">
            <span class="fa fa-facebook fa-4x"></span>
            <p class="title">4,234</p>
            <span class="subtitle">Followers</span>
            <span class="log-out fa fa-times" ng-click="user.social_networks.facebook = false"></span>
        </div>

        <!-- TWITTER -->
        <div ng-if="!user.social_networks.twitter" class="indicator widget" style="color:#999;">
            <div class="color-twitter">
                <i class="fa fa-twitter fa-4x" style="padding:10px;"></i>
            </div>
            <button class="btn btn-default" ng-click="user.social_networks.twitter = true">Connect Twitter</button>
        </div>
        <div ng-if="user.social_networks.twitter" class="indicator widget bg-twitter">
            <span class="fa fa-twitter fa-4x"></span>
            <p class="title">2,343</p>
            <span class="subtitle">Tweets</span>
            <span class="log-out fa fa-times" ng-click="user.social_networks.twitter = false"></span>
        </div>

        <!-- GOOGLE + -->
        <div ng-if="!user.social_networks.googleplus" class="indicator widget" style="color:#999;">
            <div class="color-googleplus">
                <i class="fa fa-google-plus fa-4x" style="padding:10px;"></i>
            </div>
            <button class="btn btn-default" ng-click="user.social_networks.googleplus = true">Connect Google+</button>
        </div>
        <div ng-if="user.social_networks.googleplus" class="indicator widget bg-googleplus">
            <span class="fa fa-google-plus fa-4x"></span>
            <p class="title">128</p>
            <span class="subtitle">New topics published</span>
            <span class="log-out fa fa-times" ng-click="user.social_networks.googleplus = false"></span>
        </div>

        <!-- LINKEDIN -->
        <div ng-if="!user.social_networks.linkedin" class="indicator widget" style="color:#999;">
            <div class="color-linkedin">
                <i class="fa fa-linkedin fa-4x" style="padding:10px;"></i>
            </div>
            <button class="btn btn-default" ng-click="user.social_networks.linkedin = true">Connect LinkedIn</button>
        </div>
        <div ng-if="user.social_networks.linkedin" class="indicator widget bg-linkedin">
            <span class="fa fa-linkedin fa-4x"></span>
            <p class="title">28</p>
            <span class="subtitle">Things</span>
            <span class="log-out fa fa-times" ng-click="user.social_networks.linkedin = false"></span>
        </div>

    </div> <!-- Social media reports -->


    <div class="demographics-wrap col-xs-12 col-md-9">

        <!-- USER INTERESTS -->
        <div class="interests">
            <div class="panel panel-default">
                <div class="panel-heading">Interests</div>
                <div class="panel-body">
                    <div class="row">
                        <div ng-repeat="interest in interests" class="col-md-4 form-checks">
                            <label class="checkbox-inline"><input ng-model="interest.selected" type="checkbox" value="">{{interest.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- USER DEMOGRAPHICS -->
        <div class="interests">
            <div class="panel panel-default">
                <div class="panel-heading interests-heading">Demographics</div>
                <div class="panel-body">

                    <!-- LIFE STAGE -->
                    <div class="row">
                        <div class="demographics-headers col-xs-12">Life Stage</div>
                        <div ng-repeat="stage in lifeStage" class="col-md-4 form-checks">
                            <label class="checkbox-inline"><input ng-model="stage.selected" type="checkbox">{{stage.name}}</label>
                        </div>
                    </div>

                    <!-- INCOME -->
                    <div class="row">
                        <div class="demographics-headers col-xs-12">Annual Income</div>

                        <div ng-repeat="income in info.income" class="col-md-4 form-checks">
                            <label class="radio-inline"><input ng-model="user.demographics.income" type="radio" name="income" ng-value="income">{{income}}</label>
                        </div>
                    </div>

                    <!-- EDUCATION -->
                    <div class="row">
                        <div class="demographics-headers col-xs-12">Education</div>
                        <div ng-repeat="education in info.education" class="col-md-3 form-checks">
                            <label class="radio-inline"><input ng-model="user.demographics.education" type="radio" name="education" ng-value="education">{{education}}</label>
                        </div>
                    </div>

                    <!-- ETHNICITY -->
                    <div class="row">
                        <div class="demographics-headers col-xs-12">Ethnicity</div>
                        <div ng-repeat="ethnic in ethnicity" class="col-md-4 form-checks">
                            <label class="checkbox-inline"><input ng-model="ethnic.selected" type="checkbox">{{ethnic.name}}</label>
                        </div>
                    </div>

                    <!-- LANGUAGE -->
                    <div class="row">
                        <div class="demographics-headers col-xs-12">Language</div>
                        <div ng-repeat="language in languages" class="col-md-3 form-checks">
                            <label class="checkbox-inline"><input ng-model="language.selected" type="checkbox">{{language.name}}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
