<div id="page-heading">
    <h3 class="page-title">Notifications</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="msg-container ">
                        <form class="form-inline">
                            <div class="form-group">
                                <input ng-model="searcher.controls.query" ng-change="search()" type="text" class="form-control form-control-primary" placeholder="Search Notifications">
                            </div>
                            <button class="btn btn-primary">Search</button>
                        </form>
                        <div class="btn-group btn-group-justified" style="margin: 10px 0;">
                            <p ng-click="setTab(1)" ng-class="{active: tabIsSet(1)}" class="btn btn-default">Inbox</p>
                            <!-- SENT COMING SOOOOOON -->
                            <!-- <p class="btn btn-default">Sent</p> -->
                            <p ng-click="setTab(2)" ng-class="{active: tabIsSet(2)}" class="btn btn-default">Trash</p>
                        </div>
                        <!-- <div class="msgs-box"> -->
                        <ul class="list-group">
                            <!-- ng-repeat="n in searcher.pagedItems[searcher.controls.currentPage-1]" -->
                            <li ng-repeat="n in searcher.originalArray" hover-active ng-click="selMsg(n);markRead(n)" ng-class="{msgRead:n.status==='read', msgUnread:n.status==='unread'}" class="pointer list-group-item">
                                <img class="msg-avatar" src="../../assets/images/avatar200.png" alt="">
                                <div class="msg-wrap">
                                    <p class="msg-sender">{{n.from}}</p>
                                    <p class="msg-title">{{n.subject}}</p>
                                    <p class="msg-body">{{n.summary}}</p>
                                    <p class="msg-date">{{n.created}}</p>
                                </div>
                            </li>
                        </ul>
                        <!-- <div class="msg-pane panel panel-content">
                            </div>
                        </div> -->
                        <!-- </div> -->
                        <div class="msg-view col-md-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Display this if there are no messages selected.  Just an empty panel body -->
        <div ng-if="!selectedMsg" class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="text-muted">Sorry, you haven't selected a message!</h1>
                </div>
            </div>
        </div>

        <!-- Display this if there ARE messages selected -->
        <div ng-if="selectedMsg" class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                            <!-- The reply button is hidden just for the moment -->
                            <div ng-hide="true" class="btn btn-default">Reply</div>
                            <div ng-hide="selectedMsg.status==='deleted'" ng-click="deleteMsg(selectedMsg)" class="btn btn-default">Delete</div>
                            <div ng-show="selectedMsg.status==='deleted'" ng-click="unTrash(selectedMsg)" class="btn btn-default">Remove from Trash</div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="media-left">
                            <a href="#">
                            <img class="media-object" src="http://placehold.it/60x60" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          {{selectedMsg.created}}<br>
                        <strong>From &nbsp;</strong>{{selectedMsg.from}}<br>
                        {{selectedMsg.to}}
                        </div><br>
                        <p><strong>{{selectedMsg.subject}}</strong></p>

                        <p>{{selectedMsg.body}}</p>

                      </div>
            </div>
        </div>
    </div>
</div>
